<%= form_for @newcomment, :remote=>true, :url=>{ :controller => 'polls', :action => 'createcomment' },:html => { :id => 'comment_form'} do |f| %>
	
	
	<%= f.text_area :content, :class=>'field span5',:id=>'com_textarea', :rows=>"3", :placeholder=>'留言...' %>
	
	<%= f.hidden_field :poll_id, :value => params[:poll_id] %>
	<%= f.hidden_field :type, :value =>local_assigns[:_type] %>
	<%= f.hidden_field :comment_id, :value=>'id_for_replace'%>
	<% if userOptionBlank(id: params[:poll_id])==1 %>
		<script>
			$("#com_textarea").attr({"placeholder":"請先投票!","readonly":''});
		</script>
		<%= link_to '投票', {controller: 'polls', action: 'vote', id: params[:poll_id]}, class:"btn btn-mini btn-fancybox open_ajax disabled" %>
	<%else%>
		<span class='ref_post ref_button' id="<%=local_assigns[:_type]%>_submit"onclick="$('#comment_form').submit();">張貼</span>
			
		
	<% end %>
<% end %>