<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <section class="table">	
	  <div class="tr" style="padding-bottom: 10px; font-size: 22px;">
	    <%= f.label '投票主題 (盡量針對此次學運事件)' %>
	  </div>  
	  <div class="tr" style="padding-bottom: 10px;"> 
	    <%= f.text_field :title, size: 50%>
	  </div>  
	  <!--
	  <div class="tr" style="padding-bottom: 10px; font-size: 22px;">
	    <%= f.label '投票描述' %>
	  </div>
	  <div class="tr" style="padding-bottom: 10px;">  
	    <%= f.text_field :description %>
	  </div>
	  -->  
	  <div class="tr" style="padding-bottom: 10px; font-size: 22px;">
	  	<%= f.label "投票選項"  %><br /> 
	  </div>
	  <div class="tr" id="optionField">
	  </div>
	  <div class="tr" style="padding-bottom: 15px;">
		<div class="td">
		<input type="button" onclick="addOption()" name="add" value="新增選項" class="button_small_b"/>
		</div>
		<div class="td">		
		<input type="button" onclick="delOption()" name="add" value="刪除選項" class="button_small_b"/>
		</div>
	  </div>
	  <div class="tr" style="padding-left: 85px;">
	    <%= f.submit '新增投票', class: "button_b" %>
	  </div>
  <section>	 
<% end %>


<script type="text/javascript">

	var option_index = 0;

	function addOption() 
	{		
		var newDiv = $(document.createElement('div')).attr({ id: 'option_block_' + option_index.toString(), class: 'tr', style: 'padding-bottom: 5px;'});
		newDiv.append("<input id='option_"+
					  option_index.toString()+
					  "' name='option["+
					  option_index.toString()+ 
					  "]' size='50' type='text' placeholder='選項"+
					  (option_index+1).toString()+
					  "'/>"
					 );	
		newDiv.appendTo("#optionField");	
		option_index++;
	}
	function delOption()
	{
		if(option_index!=0)
		{
			option_index--;
			$("#option_block_"+option_index.toString()).remove();
		}	
	}
</script>
