<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '投票主題' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '投票描述' %><br />
    <%= f.text_field :description %>
  </div>
  
  
  <div class="tr" style="padding-bottom: 10px; font-size: 22px;">
  	<%= f.label "投票選項"  %><br /> 
  </div>
  <div class="tr" id="optionField">
  </div>
  <div class="tr">
	<div class="td">
	<input type="button" onclick="addOption()" name="add" value="新增選項" class="button_small_b"/>
	</div>
	<div class="td">		
	<input type="button" onclick="delOption()" name="add" value="刪除選項" class="button_small_b"/>
	</div>
  </div>

  <div class="actions">
    <%= f.submit '新增投票' %>
  </div>
<% end %>


<script type="text/javascript">

	var option_index = 0;

	function addOption() 
	{		
		var newDiv = $(document.createElement('div')).attr({ id: 'option_block_' + option_index.toString(), class: 'tr'});
		newDiv.append("<input id='option_"+
					  option_index.toString()+
					  "' name='option["+
					  option_index.toString()+ 
					  "]' size='10' type='text' placeholder='選項' "+
					  "'/>"
					 );	
		newDiv.appendTo("#optionField");	
		option_index++;
	}
	function delOption()
	{
		if(option_index!=0)
		{
			option_index--;
			$("#option_block_"+option_index.toString()).remove();
		}	
	}
</script>
