<script>
$(document).ready(function()
{	
	refresh();
	$( ".ref_post" ).bind( "click", function() {
		$('.urlive-container').urlive("remove", 400);		
		var request =$.ajax({
			url: "/polls/refPost",
			type: "POST",
			data: { link: $('.ref_content').val(), poll_id: <%=@poll.id.to_s%>}
		});
		request.done(function( data ) {
			if(data.success)
				createContainer(data);						
			else
			$.gritter.add({
            title: data.title,
            text : data.message,
            time : 5000});
		});
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});	
	});
		
	$('.ref_content').on('input propertychange', function () {
	    $('.ref_content').urlive({
	    	container: '.urlive-container',
	        callbacks: {
	            onStart: function () {
	                $('.ref_post_loading').show();
	                $('.urlive-container').urlive('remove');
	            },
	            onSuccess: function (data) {
	                $('.ref_post_loading').hide();
	            },
	            noData: function () {
	                $('.ref_post_loading').hide();
	            }
	        }
	    });
	});	
	
	
	function refresh() 
	{
		$('#reference_main').empty();		
		var request =$.ajax({
			url: "/polls/reference",
			type: "GET",
			data: { poll_id: <%=@poll.id.to_s%>}
		});
		request.done(function( data ) {	
			jQuery.each(data, function(i, val)
			{
				createContainer(val);											  
			});			
		});
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	};
		
	function createContainer(val) 
	{
		val.link=val.link.replace(/\n/g, "<br/>");
		var regex = /((http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?)/g;
		var replaced = val.link.search(regex) >= 0;
		if(replaced)
		{
    		val.link = val.link.replace(regex, "<div id='link_"+val.id+"'><a href='$1' target='_blank'>$1</a></div>");		
			var newSection = $(document.createElement('section')).attr({ id: 'section_'+val.id, class: 'ref_main_section'});							
			html = $.parseHTML(val.link);
			newSection.append('<div style="font-size: 15px;">'+val.id+'</div>');	
			newSection.append(html);
			$( html ).bind( "click", function() {		
				var request =$.ajax({
					url: "/polls/refClick",
					type: "GET",
					data: { reference_id: val.id, poll_id: <%=@poll.id.to_s%>}
				});
				request.done(function( data ) {
					$("#click_"+data.reference_id).html(data.count);
				});
				request.fail(function( jqXHR, textStatus ) {	
				});			
			});	
		}
		else
		{	
			var newSection = $(document.createElement('section')).attr({ id: 'section_'+val.id, class: 'ref_main_section'});				
			newSection.html('<div style="font-size: 15px;">'+val.id+'</div>'+val.link);	
		}
		var outerDiv= $(document.createElement('div')).attr({ id: 'urlive-container_outer_'+val.id, class: 'ref_main_urlive_outer'});	
		var newDiv = $(document.createElement('div')).attr({ id: 'urlive-container_'+val.id, class: 'ref_main_urlive-container'});
		var newSpan = $(document.createElement('span')).attr({ id: 'ref_loading_'+val.id});
		var newDivOp = $(document.createElement('div')).attr({ id: 'urlive-container_op_'+val.id, class: 'ref_main_urlive-container-op'});
		var newDivOpLeft = $(document.createElement('div')).attr({ id: 'urlive-container_op_left_'+val.id, class: 'ref_main_urlive-container-op-left'});
		var newDivOpRight = $(document.createElement('div')).attr({ id: 'urlive-container_op_right_'+val.id, class: 'ref_main_urlive-container-op-right'});
		var newSpanAccCount = $(document.createElement('span')).attr({ id: 'urlive-container_acc_count_'+val.id, class: 'ref_main_urlive-container-acc-count'});
		var newSpanCliCount = $(document.createElement('span')).attr({ id: 'urlive-container_cli_count_'+val.id, class: 'ref_main_urlive-container-cli-count'});				
		newSpanAccCount.append("<img title='接受' height='18px' width='18px' alt='接受' src='<%=asset_path('accept.png')%>'/> <span id='acc_"+val.id+"'>"+val.accept+"</span>");
		newSpanCliCount.append("<img title='點閱' height='16px' width='20px' alt='點閱' src='<%=asset_path('eye.png')%>'/> <span id='click_"+val.id+"'>"+val.click+"</span>");
		//dele
		if(val.dele_c)
		{
			var newSpanDel = $(document.createElement('span')).attr({ id: 'urlive-container_del_'+val.id, class: 'ref_main_urlive-container-del'});
			newSpanDel.append(" | 刪除");
			$( newSpanDel ).bind( "click", function() {		
				var request =$.ajax({
					url: "/polls/refDelete",
					type: "GET",
					data: { reference_id: val.id}
				});
				request.done(function( data ) {
					$('#section_'+data.reference_id).remove();
						
				});
				request.fail(function( jqXHR, textStatus ) {	
				});		
			});						
		}
		//accept
		var newSpanAcc = $(document.createElement('span')).attr({ id: 'urlive-container_acc_'+val.id, class: 'ref_main_urlive-container-acc'});
		if(val.accept_c)
		{	
			newSpanAcc.append("接受");
			var accept_c=true;
		}
		else
		{
			newSpanAcc.append("取消接受");
			var accept_c=false;
		}
		var accept_bind_c=accept_c	
		$( newSpanAcc ).bind( "click", function() {		
			var request =$.ajax({
				url: "/polls/refAccept",
				type: "GET",
				data: { reference_id: val.id, poll_id: <%=@poll.id.to_s%>, accept: accept_bind_c}
			});
			request.done(function( data ) {
				$("#acc_"+data.reference_id).html(data.count);
				if(data.accept_c)
				{
					accept_bind_c=false;
					$("#urlive-container_acc_"+data.reference_id).html('取消接受');
				}
				else
				{
					accept_bind_c=true;
					$("#urlive-container_acc_"+data.reference_id).html('接受');	
				}
			});
			request.fail(function( jqXHR, textStatus ) {	
			});
				
		});	
		//click
		$( newDiv ).bind( "click", function() {		
			var request =$.ajax({
				url: "/polls/refClick",
				type: "GET",
				data: { reference_id: val.id, poll_id: <%=@poll.id.to_s%>}
			});
			request.done(function( data ) {
				$("#click_"+data.reference_id).html(data.count);
			});
			request.fail(function( jqXHR, textStatus ) {	
			});
				
		});					
		newSpanAccCount.appendTo(newDivOpLeft);		
		newSpanCliCount.appendTo(newDivOpLeft);		
		newSpanAcc.appendTo(newDivOpRight);	
		if(val.dele_c)
			newSpanDel.appendTo(newDivOpRight);									
		newDivOpLeft.appendTo(newDivOp);	
		newDivOpRight.appendTo(newDivOp);						
		newDiv.appendTo(outerDiv);
		newDivOp.appendTo(outerDiv);
		outerDiv.appendTo(newSection);					
		newSection.prependTo("#reference_main");					
		$(newSection).urlive({
			container: '#urlive-container_'+val.id,
			callbacks:{
				onStart: function(){
					$( '#ref_loading_'+val.id).show();
				},
				onLoadEnd: function(){
				    $( '#ref_loading_'+val.id).hide();
				}
			}
		});		
	};	
	
});	
</script>
<br>
<p style="font-size: 28px; font-family: Microsoft JhengHei; font-weight: bold;">參考資料</p>
<table class="table">
<tr>
<td>
<%if !session[:user_id].blank?%>	
<div id='reference_post'>
	<textarea class='ref_content' placeholder="參考連結..."></textarea><br>
	<span class='ref_post ref_button'>張貼</span>
	<div class="urlive-container"> 
		<span class="ref_post_loading">Loading...</span>
	</div>
</div>
<%end%>
</td>
</tr>
</table>

<div id='reference_main'></div>	