<section class="table" style="max-width: 500px">
<% @polls.each do |poll| %>	
	<div class="tr" style="">
		
		<div class="td">	
			<div id='chart_<%=poll.id%>'></div>
			<%= render_chart(poll.chart, 'chart_'+poll.id.to_s) %>
		</div>	
		<div class="td">	
			<%= link_to '投票', {controller: 'polls', action: 'vote', id: poll.id} %>																						
		</div>	
		<div class="td">
			<%= link_to '趨勢', poll %>							
		</div>	
		<div class="td">	
			<%= link_to '刪除', poll, method: :delete, data: { confirm: '您確定要刪除這個投票嗎? (無法回復)' } %>						
		</div>						
	</div>
<% end %>	
</section> 
<br>
<div class="apple_pagination"><%= will_paginate(@polls) %></div>