<div id="main_center">
	<p id="notice"><%= notice %></p>
	<div class="tr" style="" >		
				<div id='chart2_<%=@poll.id%>'></div>
				<%= render_chart(@poll.chart2, 'chart2_'+@poll.id.to_s) %>	
	</div>
</br>
	<div class="td" style="">	
	      <%= render partial: "frame1"%>
	</div>      
	<div class="td" style="">	
	      <%= render partial: "frame2"%>
	</div> 
</br>	
	<%= link_to 'Edit', edit_poll_path(@poll) %> |
	<%= link_to 'Back', polls_path %>
</div > 
<%=@aaa.to_s%>