<%if !userOption(poll: @poll).blank?%>
<script type="text/javascript" charset="utf-8">
$(function() {
  var d, h, m, s;
  $('#clock_countdown').countdown(new Date( 
  									<%=(userOption(poll: @poll).updated_at+60 * 60-140).utc.to_i*1000%>), function(event) {
    var timeFormat = "%m<span style=\"font-size: 8px;\">:</span>%s"
        $this = $(this);
    switch(event.type) {
      case "days":
        d = event.value;
        break;
      case "hours":
        h = event.value;
        break;
      case "minutes":
        m = event.value;
        break;
      case "seconds":
        s = event.value;
        break;
      case "finished":
        $this.fadeTo('slow', 0.5);
        break;
    }
    // Assemble time format
    if(d > 0) {
      timeFormat = timeFormat.replace(/\%d/, d);
    } else {
      timeFormat = timeFormat.replace(/\%d<span style=\"font-size: 8px;\">天<\/span>/, '');
    }
    timeFormat = timeFormat.replace(/\%h/, h);
    timeFormat = timeFormat.replace(/\%m/, m);
    timeFormat = timeFormat.replace(/\%s/, s);
    // Display
    $this.html(timeFormat);
  });
});

</script>

<%end%>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$.ajax({ 
		type: "GET",
		url: "get_user_info",
		data: {poll_id:<%=@poll.id.to_s%>},
        success: function(){},
        error: function(){
        	alert("Inernal server error..");
        	$("#info").html("ERROR");
        	}
		});
});

$(document).ready(function()
{	
	refresh();
	$( ".ref_post" ).bind( "click", function() {
		$('.urlive-container').urlive("remove", 400);		
		var request =$.ajax({
			url: "/polls/refPost",
			type: "POST",
			data: { link: $('.ref_content').val(), poll_id: <%=@poll.id.to_s%>}
		});
		request.done(function( data ) {
			if(data.success)
				createContainer(data);						
			else
			$.gritter.add({
            title: data.title,
            text : data.message,
            time : 5000});
		});
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});	
	});
		
	$('.ref_content').on('input propertychange', function () {
	    $('.ref_content').urlive({
	    	container: '.urlive-container',
	        callbacks: {
	            onStart: function () {
	                $('.ref_post_loading').show();
	                $('.urlive-container').urlive('remove');
	            },
	            onSuccess: function (data) {
	                $('.ref_post_loading').hide();
	            },
	            noData: function () {
	                $('.ref_post_loading').hide();
	            }
	        }
	    });
	});	
	
	
	function refresh() 
	{
		$('#reference_main').empty();		
		var request =$.ajax({
			url: "/polls/reference",
			type: "GET",
			data: { poll_id: <%=@poll.id.to_s%>}
		});
		request.done(function( data ) {	
			jQuery.each(data, function(i, val)
			{
				createContainer(val);											  
			});			
		});
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	};
		
	function createContainer(val) 
	{
		val.link=val.link.replace(/\n/g, "<br/>");
		var regex = /((http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?)/g;
		var replaced = val.link.search(regex) >= 0;
		if(replaced)
		{
    		val.link = val.link.replace(regex, "<div id='link_"+val.id+"'><a href='$1' target='_blank'>$1</a></div>");		
			var newSection = $(document.createElement('section')).attr({ id: 'section_'+val.id, class: 'ref_main_section'});							
			html = $.parseHTML(val.link);
			newSection.append('<div style="font-size: 15px;">'+val.id+'</div>');	
			newSection.append(html);
			$( html ).bind( "click", function() {		
				var request =$.ajax({
					url: "/polls/refClick",
					type: "GET",
					data: { reference_id: val.id, poll_id: <%=@poll.id.to_s%>}
				});
				request.done(function( data ) {
					$("#click_"+data.reference_id).html(data.count);
				});
				request.fail(function( jqXHR, textStatus ) {	
				});			
			});	
		}
		else
		{	
			var newSection = $(document.createElement('section')).attr({ id: 'section_'+val.id, class: 'ref_main_section'});				
			newSection.html('<div style="font-size: 15px;">'+val.id+'</div>'+val.link);	
		}
		var outerDiv= $(document.createElement('div')).attr({ id: 'urlive-container_outer_'+val.id, class: 'ref_main_urlive_outer'});	
		var newDiv = $(document.createElement('div')).attr({ id: 'urlive-container_'+val.id, class: 'ref_main_urlive-container'});
		var newSpan = $(document.createElement('span')).attr({ id: 'ref_loading_'+val.id});
		var newDivOp = $(document.createElement('div')).attr({ id: 'urlive-container_op_'+val.id, class: 'ref_main_urlive-container-op'});
		var newDivOpLeft = $(document.createElement('div')).attr({ id: 'urlive-container_op_left_'+val.id, class: 'ref_main_urlive-container-op-left'});
		var newDivOpRight = $(document.createElement('div')).attr({ id: 'urlive-container_op_right_'+val.id, class: 'ref_main_urlive-container-op-right'});
		var newSpanAccCount = $(document.createElement('span')).attr({ id: 'urlive-container_acc_count_'+val.id, class: 'ref_main_urlive-container-acc-count'});
		var newSpanCliCount = $(document.createElement('span')).attr({ id: 'urlive-container_cli_count_'+val.id, class: 'ref_main_urlive-container-cli-count'});				
		newSpanAccCount.append("<img title='接受' height='18px' width='18px' alt='接受' src='<%=asset_path('accept.png')%>'/> <span id='acc_"+val.id+"'>"+val.accept+"</span>");
		newSpanCliCount.append("<img title='點閱' height='16px' width='20px' alt='點閱' src='<%=asset_path('eye.png')%>'/> <span id='click_"+val.id+"'>"+val.click+"</span>");
		//dele
		if(val.dele_c)
		{
			var newSpanDel = $(document.createElement('span')).attr({ id: 'urlive-container_del_'+val.id, class: 'ref_main_urlive-container-del'});
			newSpanDel.append(" | 刪除");
			$( newSpanDel ).bind( "click", function() {		
				var request =$.ajax({
					url: "/polls/refDelete",
					type: "GET",
					data: { reference_id: val.id}
				});
				request.done(function( data ) {
					$('#section_'+data.reference_id).remove();
						
				});
				request.fail(function( jqXHR, textStatus ) {	
				});		
			});						
		}
		//accept
		var newSpanAcc = $(document.createElement('span')).attr({ id: 'urlive-container_acc_'+val.id, class: 'ref_main_urlive-container-acc'});
		if(val.accept_c)
		{	
			newSpanAcc.append("接受");
			var accept_c=true;
		}
		else
		{
			newSpanAcc.append("取消接受");
			var accept_c=false;
		}
		var accept_bind_c=accept_c	
		$( newSpanAcc ).bind( "click", function() {		
			var request =$.ajax({
				url: "/polls/refAccept",
				type: "GET",
				data: { reference_id: val.id, poll_id: <%=@poll.id.to_s%>, accept: accept_bind_c}
			});
			request.done(function( data ) {
				$("#acc_"+data.reference_id).html(data.count);
				if(data.accept_c)
				{
					accept_bind_c=false;
					$("#urlive-container_acc_"+data.reference_id).html('取消接受');
				}
				else
				{
					accept_bind_c=true;
					$("#urlive-container_acc_"+data.reference_id).html('接受');	
				}
			});
			request.fail(function( jqXHR, textStatus ) {	
			});
				
		});	
		//click
		$( newDiv ).bind( "click", function() {		
			var request =$.ajax({
				url: "/polls/refClick",
				type: "GET",
				data: { reference_id: val.id, poll_id: <%=@poll.id.to_s%>}
			});
			request.done(function( data ) {
				$("#click_"+data.reference_id).html(data.count);
			});
			request.fail(function( jqXHR, textStatus ) {	
			});
				
		});					
		newSpanAccCount.appendTo(newDivOpLeft);		
		newSpanCliCount.appendTo(newDivOpLeft);		
		newSpanAcc.appendTo(newDivOpRight);	
		if(val.dele_c)
			newSpanDel.appendTo(newDivOpRight);									
		newDivOpLeft.appendTo(newDivOp);	
		newDivOpRight.appendTo(newDivOp);						
		newDiv.appendTo(outerDiv);
		newDivOp.appendTo(outerDiv);
		outerDiv.appendTo(newSection);					
		newSection.prependTo("#reference_main");					
		$(newSection).urlive({
			container: '#urlive-container_'+val.id,
			callbacks:{
				onStart: function(){
					$( '#ref_loading_'+val.id).show();
				},
				onLoadEnd: function(){
				    $( '#ref_loading_'+val.id).hide();
				}
			}
		});		
	};	
	
});	

</script>

<%if !@poll.blank?%>
	<% content_for :show_fb do %>
	    <meta property="og:site_name" content="instant 即時公民投票" />
	  	<meta property="og:title" content="instant 即時公民投票: <%= @poll.title%>" />
	  	<meta property="og:image" content="<%=host%><%=image_path('logo_250x250_t.png')%>" />	  	
	  	<meta property="og:description" content="<%= @poll.description%>" />	
	<%end%>
<%end%>

<section class="_table" style="width: 100%;">
	<div class="_tr" style="margin-top:20px;
						   background:#FFFFFF;
						   border-radius: 10px 10px 10px 10px;
						   -moz-border-radius: 10px 10px 10px 10px;
						   -webkit-border-radius: 10px 10px 10px 10px;
						   border: 0px solid #000000;">		
		<div class="_tr" style="padding-top: 10px; width:100%">
			<div style="color: #FF4719; display: inline-block; float: right; margin-right: 130px; font-size: 20px; font-family: Microsoft JhengHei">
				<%= pollCount(poll: @poll) %>人投過			
			</div>	
			<div style="width: 570px; margin: 0 auto ;">
				<div class="_tr" style="padding-bottom:5px;">
					<div class="_td">		
						<%=link_to image_tag(User.find(@poll.user.id).icon.url(:thumb), size: '42x42'), "https://www.facebook.com/"+@poll.user.facebook.identifier%>		
					</div>	
					<div class="_td" style="padding-left:20px; line-height: 26px; font-size: 24px; font-family: Microsoft JhengHei">		
						<%= @poll.title%>
					</div>		
					<div class="_td" style="padding-left:10px; font-size: 10px; width: 98px; font-family: Microsoft JhengHei">		
						<%= time_ago_in_words(@poll.created_at)%>之前
					</div>
				</div>	
				<div class="_tr" style="font-family: Microsoft JhengHei; font-weight: bold">		
					<%= pollChoice poll: @poll%>
				</div>
			</div>				
		</div>		
		<div class="_tr" style="padding-left:20px; padding-bottom:40px; ">				   
			<div class="_td" style="width: 600px; ">		
				<div id='chart_<%=@poll.id%>'></div>
				<%= render_chart(@poll.chart, 'chart_'+@poll.id.to_s) %>	
			</div>	
			<div class="_td" style="">
				<div class="fb-share-button" data-href="<%=request.original_url%>" data-type="button_count"></div>
				<div class="_tr" style="">		
					<% if userOptionBlank(id: @poll.id)==1 %>	
						<%= link_to '投票', {controller: 'polls', action: 'vote', id: @poll.id}, class:"poll_button fancybox open_ajax" %>		
					<% end %>
					<% if userOptionBlank(id: @poll.id)==2 %>	
						<%= link_to '重新投票', {controller: 'polls', action: 'vote', id: @poll.id}, class:"poll_button fancybox open_ajax" %>		
					<% end %>
					<% if userOptionBlank(id: @poll.id)==3%>
						<div style="font-family: Microsoft JhengHei; margin-top: 10px; margin-left: 13px;"><span id="clock_countdown"></span>後</div>
						<div style="font-family: Microsoft JhengHei;">可重新投票</div>	
					<% end %>
				</div>
				<% if @poll.user.id==session[:user_id]%>	
				<div class="_tr" style="">
					<%= link_to '刪除', @poll, method: :delete, data: { confirm: '您確定要刪除 "'+@poll.title+'" 這個主題嗎? (無法回復)' }, class: "poll_button"  %>						
				</div>
				<%end%>			
			</div>	
			<div class="_td" style="">		
				<div id='chart_<%=@poll.id+1%>'></div>
				<%=render_chart(@chart2, 'chart_'+(@poll.id+1).to_s) %>
			</div>				
		</div>	
	
	<div class="container-fluid " >
		<div id="info" class="container-fluid span4" >	
			<%=image_tag("loading.gif")%>
		</div>
		<div id='reference'class="container-fluid span4 offset2" >
		<%if !session[:user_id].blank?%>	
		<div id='reference_post'>
			<textarea class='ref_content' placeholder="參考連結..."></textarea><br>
			<span class='ref_post ref_button'>張貼</span>
			<div class="urlive-container"> 
				<span class="ref_post_loading">Loading...</span>
			</div>
		</div>
		<%end%>
		<div id='reference_main'></div>		
		</div>
	</div>
</section>