<%if !@poll.blank?%>
	<% content_for :show_fb do %>
	    <meta property="og:site_name" content="即時公民投票" />
	  	<meta property="og:title" content="即時公民投票: <%= @poll.title%>" />
	  	<meta property="og:image" content="<%=host%><%=image_path('logo_250x250_t.png')%>" />	  	
	  	<meta property="og:description" content="<%= @poll.description%>" />	
	<%end%>
<%end%>

<section class="table" style="width: 100%;">
	<div class="tr" style="margin-top:20px;
						   background:#FFFFFF;
						   border-radius: 10px 10px 10px 10px;
						   -moz-border-radius: 10px 10px 10px 10px;
						   -webkit-border-radius: 10px 10px 10px 10px;
						   border: 0px solid #000000;">		
		<div class="tr" style="padding-top: 10px; width:100%">
			<div style="color: #FF4719; display: inline-block; float: right; margin-right: 130px; font-size: 20px; font-family: Microsoft JhengHei">
				<%= pollCount(poll: @poll) %>人投過			
			</div>	
			<div style="width: 570px; margin: 0 auto ;">
				<div class="tr" style="padding-bottom:5px;">
					<div class="td">		
						<%=link_to image_tag(User.find(@poll.user.id).icon.url(:thumb), size: '42x42'), "https://www.facebook.com/"+@poll.user.facebook.identifier%>		
					</div>	
					<div class="td" style="padding-left:20px; line-height: 26px; font-size: 26px; font-family: Microsoft JhengHei">		
						<%= @poll.title%>
					</div>		
					<div class="td" style="padding-left:10px; font-size: 10px; width: 98px; font-family: Microsoft JhengHei">		
						<%= time_ago_in_words(@poll.created_at)%>之前
					</div>
				</div>	
				<div class="tr" style="font-family: Microsoft JhengHei; font-weight: bold">		
					<%= pollChoice poll: @poll%>
				</div>
			</div>				
		</div>		
		<div class="tr" style="padding-left:20px; padding-bottom:40px; ">				   
			<div class="td" style="width: 600px; ">		
				<div id='chart_<%=@poll.id%>'></div>
				<%= render_chart(@poll.chart, 'chart_'+@poll.id.to_s) %>	
			</div>	
			<div class="td" style="">
				<div class="fb-share-button" data-href="<%=request.original_url%>" data-type="button_count"></div>
				<div class="tr" style="">		
					<% if userOptionBlank(id: @poll.id)==1 %>	
						<%= link_to '投票', {controller: 'polls', action: 'vote', id: @poll.id}, class:"poll_button fancybox open_ajax" %>		
					<% end %>
					<% if userOptionBlank(id: @poll.id)==2 %>	
						<%= link_to '重新投票', {controller: 'polls', action: 'vote', id: @poll.id}, class:"poll_button fancybox open_ajax" %>		
					<% end %>
					<% if userOptionBlank(id: @poll.id)==3%>	
					<% end %>
				</div>
				<% if @poll.user.id==session[:user_id]%>	
				<div class="tr" style="">
					<%= link_to '刪除', @poll, method: :delete, data: { confirm: '您確定要刪除 "'+@poll.title+'" 這個主題嗎? (無法回復)' }, class: "poll_button"  %>						
				</div>
				<%end%>			
			</div>	
			<div class="td" style="">		
				<div id='chart_<%=@poll.id+1%>'></div>
				<!--<= render_chart(@poll.chart2, 'chart_'+(@poll.id+1).to_s) %>	-->
			</div>				
		</div>	
		<div class="tr">
			<div style="width:<%=(@poll.poll_options.size)*320%>px; margin: 0 auto;">
			<%@poll.poll_options.each do |o|%>
			<div class="td" style="margin-left: 30px;" >
				<div class="tr" style="margin-bottom: 5px; font-size: 15px; font-family: Microsoft JhengHei; font-weight: bold;">
					選擇 '<%= o.title%>' 的回應
				</div>	
				<div class="tr" style="width: 320px;" >
					<div class="fb-comments" data-href="<%=host%>/polls/fbComment?poll_option_id=<%=o.id%>" data-numposts="5" data-colorscheme="light" data-width="310px"></div>
				</div>	
			</div>	
			<%end%>	
			</div>	   	
		</div>								
	</div>
</section> 