<%=form_tag({controller: 'polls', action: 'vote'}, id: 'form')  do%>
<section class="_table">	
   	<div class="_tr" style="padding-bottom: 10px; font-size: 22px; font-weight: bold"> 
   		<%=@poll.title%>
   	</div>
   	<div class="_tr" style="padding-bottom: 10px; font-size: 18px;">    	
    	<%=@poll.description%>
  	</div>
  	<dic class="_tr radio">
  		<%@poll.poll_options.each do |o|%>
	    <div class="_tr" style="padding-bottom: 10px; font-size: 15px;">     	
	    	<%=radio_button_tag 'option', o.id, id: o.id%>
	    	<%=label_tag 'option_'+o.id.to_s, o.title, class: 'vote_radio_label'%>
	    </div>
    	<%end%>
		<div class="_tr" style="padding-bottom: 10px; font-size: 15px;"> 
			<%=radio_button_tag 'option', '0', id: '0'%>	 
			<%=label_tag 'option_0', '自訂選項:', class: 'vote_radio_label'%>   	
	    	<%=text_field_tag 'new_option', nil, size: 50%>   
 		</div> 
 	</div>  
 	 
    <%=hidden_field_tag 'id', @poll.id%>
  	<div class="_tr" style="padding-bottom: 10px;"> 	
		<%=submit_tag "送出", class: "button_small_b"%>
	</div>
</section>	
<%end%>

<script>
$("#form").bind("submit", function () {
    $.fancybox.showLoading(); // it was $.fancybox.showActivity(); for v1.3.4
    $.ajax({
        type: "POST",
        cache: false,
        url: "/polls/vote", // make sure your path is correct
        data: $(this).serializeArray(), // your were using $(form).serialize(), 
        success: function (data) {
            location.reload(); 
        }
    });
    return false;
}); // bind

<%@poll.poll_options.each do |o|%>
	<%if !UserOption.where(user_id: session[:user_id], poll_option_id: o.id).first.blank?%>	    
		$('#option_<%=o.id%>').prop('checked', true);
	<%end%>
<%end%>
</script>