<div class="header">
	<div class="header_inner">		
		<div class='header_left'>
			<%=link_to '公民投票', root_url, class: "main_title" %>
		</div>
		<div class='header_right'>
			<% if authenticated? %>
				<ul>
					<li>
						<%=link_to '新增主題', new_poll_path, class: "add_item fancybox open_ajax" %>
					</li>			
					<li>
						<%= link_to "登出", facebook_path, :method => :delete, class: 'logout' %>
					</li>														
					<li>
						<%=link_to image_tag(User.find(session[:user_id]).icon.url(:thumb), size: '42x42'),{:controller => "user", :action => "index", :user_id=>session[:user_id]}%>
					</li>							  
				</ul>						
			<% else %>
				
				<ul id="before_login_ul">			
					<li>
						<%=link_to '新增投票', new_poll_path, class: "add_item fancybox open_ajax" %>
					</li>	
					<li>				
						<%= link_to "facebook登入", new_facebook_path, class: 'login_fb' %>
					</li>	
				</ul>
					  
				<div id="on_login_div">
				 	<span>facebook登入中</span>
					<%=image_tag image_path("loading.gif")%>
				</div>
					
			<% end %>				
		</div>			
	</div>	
</div>